<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dept">

	<select id="select" parameterType="int" resultType="pro.DeptDTO">
		select distinct com_dept_num, com_dept_name from members where com_num=#{com_num}
	</select>
	
	<select id="ceoName" parameterType="int" resultType="String">
		select name from members where com_num=#{com_num} and com_pos_num=1
	</select>
	
	<select id="memList" parameterType="Map" resultType="pro.Dept_Person_InfoDataBean">
		select com_pos_name, name, mem_num, phone_num, email from members where com_dept_num=#{com_dept_num} and com_num=#{com_num}
	</select>

</mapper>
